.App{
  background-color: #282c34;
  height: 100vh;
  width:100vw ;
  color: white;
  font-size: calc(10px + 2vmin);
}
.search-bar-container{
 padding-top: 25vh;
 width: 50%;
 margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 min-width: 200px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
